---
---

@import "{{ site.theme }}";

body {
  font-family: avenir next,avenir,sans-serif;
}

.link:focus {
  outline: none;
}

header {
  transition: background-color 500ms linear;
}

.page-header {
  background-color: white; // until the image loads
  background-image: url('/assets/images/banner-1500.jpeg');
  background-size: cover;
  text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 480px) {
  .page-header {
    background-image: url('/assets/images/banner-400.jpeg');
  }
}

.main-content h1, .main-content h3 {
  color: #5e2ca5;
}

.main-content p {
  line-height: 2;
}

@media screen and (max-width: 30em) {
  .main-content table th, .main-content table td {
    padding: 0.25rem 0.5rem;
    min-width: 6rem;
  }
}

form {
  input {
    font-size: 0.8em;
    padding: 0.7em;
    transition: all 0.3s ease-in-out;
    &:focus {
      outline: none;
      box-shadow: 0 0 5px 1px #a463f2;
      border: 1px solid #5e2ca5;
    }
  }
  button {
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #5e2ca5;
    color: #5e2ca5;
    background: transparent;
    line-height: 1em;
    padding: 0.6em 0.9em;
    transition: box-shadow 0.3s ease-in-out;
  }
}
