---
---

@import "{{ site.theme }}";

body {
  font-family: avenir next,avenir,sans-serif;
}

.link:focus {
  outline: none;
}

header {
  transition: background-color 500ms linear;
}

.page-header {
    background-color: white; // until the image loads
    background-image: url('/assets/images/banner_tinyfied.jpeg');
    background-size: cover;
}

.main-content h1 {
  color: #5e2ca5;
}

.page-header {
  text-shadow: 1px 1px 2px black;
}
