<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    {% seo title=false %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="icon" type="image/png" href="/assets/images/pride_logo_small.png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/tachyons.min.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <script src="{{ '/assets/js/lazysizes.min.js?v=' | append: site.github.build_revision | relative_url }}" async=""></script>
    {% if site.google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
  </head>

  <body>
    <header class="fixed w-100 bg-transparent ph3 pv2 pv3-ns ph4-m ph5-l">
      <nav class="f7 f6-ns fw6 ttu tracked flex items-center">
        <img class="dib mw2 mr3" src="/assets/images/pride_logo_small.png" />
        <a class="near-white dib mr3" href="#description" title="Description">Description</a>
        <a class="near-white dib mr3" href="#logistics" title="Logistics">Logistics</a>
        <a class="near-white dib" href="#contact" title="Contact">Contact</a>
      </nav>
    </header>
    <section class="page-header">
      <nav class="pa3 pa4-ns">
        <span class="near-white b f1 f-headline-ns tracked-light tc db mb3 mb4-ns" id="site-title">{{ site.title }}</span>
        <span class="near-white b f3 tc db mb3 mb4-ns"> 12 July 2019 </span>
        <span class="near-white b f4 tc db mb3 mb4-ns"> Liberdade, Diversidade, Vizibilidade </span>
      </nav>
    </section>

    <section class="main-content">
      {{ content }}
      <footer class="site-footer">
        <div class="center logos-container">
          <img data-src="/assets/images/1 Hatutan.jpg" class="lazyload max-width-10" />
          <img data-src="/assets/images/2 Codiva.png" class="lazyload max-width-10" />
          <img data-src="/assets/images/3 Arco Iris.png" class="lazyload max-width-10" />
        </div>
        <span class="tc db credits mt3">
          Built with 💜 by <a href="https://github.com/raphaelmerx" target="_blank" rel="noopener">Raphael</a>
        </span>
      </footer>
    </section>

    <script>
      // smooth scrolling
      document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
          e.preventDefault();

          document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
          });
        });
      });

      window.addEventListener("scroll", function() {
        var titleElement = document.getElementById("site-title");
        if (window.scrollY > (titleElement.offsetTop)) {
          document.querySelector('header').classList.remove('bg-transparent');
          document.querySelector('header').classList.add('bg-purple', 'shadow-3');
        } else {
          document.querySelector('header').classList.add('bg-transparent');
          document.querySelector('header').classList.remove('bg-purple', 'shadow-3');
        }
      });
    </script>
  </body>
</html>
